global
    maxconn 64

defaults
    mode http
    timeout connect 2s
    timeout client 10s
    timeout server 5s

frontend myfrontend
    bind :80
    default_backend webservers

backend webservers
    balance roundrobin
    http-reuse always

    server s1 worker1:9999
    server s2 worker2:9999
